<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hospitalMapper">

<!-- 이미지 업로드 -->
<insert id="saveImage" >
insert into hospital (b_no, p_no, h_title, h_content, lng, lat, h_photo, use_flag)
values (1,h_p_no.nextval,'제목','내용',1,1,#{h_photo},1)
</insert>

<!-- 이미지 출력 -->
<select id="getByteImage" resultType="com.doggle.vo.HospitalVO">
    SELECT b_no, p_no, h_title, h_content, lng, lat, phone, h_photo, use_flag
    FROM hospital
</select>



</mapper>